Package: mcpi-proxy
Version: 0.1.0
Priority: optional
Architecture: armhf
Depends: python3
Maintainer: Alvarito050506 <donfrutosgomez@gmail.com>
Homepage: https://mcpi.tk
Vcs-Browser: https://github.com/MCPI-Devs/proxy
Vcs-Git: https://github.com/MCPI-Devs/proxy.git
Description: Minecraft Pi Proxy to allow players to connect to remote servers.

